<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="./css/site.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tiny.cloud/1/cq7c0kz5cfk762vhm8wh6sryppgbhuuawwwij58d4jizb3up/tinymce/5/tinymce.min.js" referrerpolicy="origin">
    </script>
    <script>tinymce.init({
        selector: '#textEditor',
        plugins: 'lists',
        menubar: 'file edit format',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist'
        });
    </script>
</head>

<body>
    
    <div id="container-Main">
       <nav id="nav">
           <div id="leftnav">
               <a href="/">Home</a>
               <a href="/">About</a>
               <a href="articles">Articles</a>
               <a href="/">Contact</a>
               <a href="/">Advertise</a>
           </div>
           <div id="rightnav">
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-instagram"></a>
               <a href="#" class="fa fa-rss"></a>
               <a href="logout">Log out</a>
           </div>
          {{!-- <a href="login">SIGN IN</a>
          <a href="newAccount">SIGN UP</a> --}}
       </nav>

    {{{body}}}

    </div>
</body>

</html>