<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>

<body>
    <nav>
       <a href="/">HOME</a>
       <a href="articles">ARTICLES</a>
       <a></a>
       <a href="login">SIGN IN</a>
       <a href="newAccount">SIGN UP</a>
    </nav>
    {{{body}}}
</body>

</html>