<!-- 
    This page should show all of the articles, no matter whether the user is logged in or not.
    We can have one article display at a time, and the user can click something like 'next' article
    to display the next. Same with previous. Like the book lab. 
-->

<h1>What is Lorem Ipsum?</h1>


<h3>What is Lorem Ipsum?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis ante vitae urna lacinia, non tincidunt magna ultricies. Morbi tellus erat, placerat non arcu ut, commodo fermentum nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ut imperdiet neque. Fusce placerat felis sed neque rutrum, nec tincidunt est semper. Integer nibh diam, scelerisque ac vulputate vel, interdum eu est. Donec fringilla sapien in elit viverra faucibus. Vestibulum ipsum justo, viverra a sagittis quis, vehicula non ante. Vivamus vel mattis tortor. Phasellus luctus nulla a leo gravida viverra. Suspendisse eros nunc, imperdiet eget mi at, euismod faucibus mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices, libero eu accumsan hendrerit, nunc lectus volutpat urna, ac malesuada justo est eget mi.</p>


<h3>Comments</h3>
<hr>


<form action="" method="">
        <div class="">
            <p>Put your comment here:</p>
            <label for="txtContent"></label>
            <textarea name="content" id="txtContent" required rows="10"></textarea>
        </div>

        <div class="">
            <button type="submit">Comment!</button>
        </div>
    </form>