<!-- 
    This page should show all of the articles, no matter whether the user is logged in or not.
    We can have one article display at a time, and the user can click something like 'next' article
    to display the next. Same with previous. Like the book lab. 
-->

<div id="container-all-article">

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/protest.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">Women's Day March changed the game</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/group-young.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">Let's talk social reform</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/france.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">France prepares for Election Day</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/army.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">Demonstrations across EU break out</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/airplant.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">Air raids across Syria</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

    <div class="card">
        <div class="card-header"><a href="/content"><img class="card-image" src="images/rouby.jpg"></a></div>
        <div class="card-body"><a href="/content" class="articl-a">
            <h1 class="card-title">Rugby World Cup 2023 Semi-Finals</h1>
            <p class="card-text">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>
        </a></div>
    </div>

</div>