<div id="home-page">

<div class="welcome-text">
  <h1>Welcome Back |</h1>
  <h4>xxx</h4>
</div>

<div class="bg-image">
    <img id="nav-image" src="images/wepik-2022026-232743.png" height="500px" width="auto">
</div>


<p>urabitur ut imperdiet neque. Fusce placerat felis sed neque rutru...<a href="#">read more</a></p>


<h3>Write your Article</h3>
    <form action="" method="">
        <div class="">
            <p>Write a title:</p>
            <label for="txtReceiver"></label>
            <input type="text" name="title" id="txtReceiver" required>
        </div>

        <div class="flex-col mb">
            <p>Write your article here:</p>
            <label for="txtContent"></label>
            <textarea name="content" id="txtContent" required rows="10"></textarea>
        </div>

        <div class="">
            <button type="submit">Post!</button>
        </div>
    </form>

</div>
