<div id="home-page">

<div class="welcome-text">
  <h1>Welcome Back |</h1>
  <h1>{{user.fname}}</h1>
  <img class="home-page-avatar" src="./images/avatars/{{user.avatar}}.png">

</div>

<div class="bg-image">
    <img id="nav-image" src="images/wepik-2022026-232743.png" height="500px" width="auto">
</div>

<p>urabitur ut imperdiet neque. Fusce placerat felis sed neque rutru...<a href="#">read more</a></p>


<h3>Add your new Recipe here:</h3>
    <form action="" method="">
        <div class="">
            <textarea name="textEditor" id="textEditor">
            </textarea>
        </div>

        <div class="">
            <button type="submit">Post!</button>
        </div>
    </form>

<form action="./uploadImage" method="POST" enctype="multipart/form-data"> 
<label for="inpFile">Upload an image here!</label>
<input id="inpFile" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
<br>
<label for="txtCaption">Caption:</label>
<input id="txtCaption" type="text" name="caption">
<button type="submit">Upload!</button> </form>



<!-- Add WYSIWYG to create and edit articles -->

<!-- Add functionality for user to change their details -->

