<div id="home-page">

  <div class="welcome-text">
    <h1>Welcome Back |</h1>
    <h1>{{user.fname}}</h1>
    <img class="home-page-avatar" src="./images/avatars/{{user.avatar}}.png" />

  </div>

  <div class="bg-image">
    <img
      id="nav-image"
      src="images/wepik-2022026-232743.png"
      height="500px"
      width="auto"
    />
  </div>

  <p>urabitur ut imperdiet neque. Fusce placerat felis sed neque rutru...<a
      href="#"
    >read more</a></p>

  <div id="recipeUpload">

    <h3>Add your new @Flavourful recipe here:</h3>

    <form action="./uploadRecipe" method="POST" enctype="multipart/form-data">

      <div id="recipeTitleDiv">
          <label for="recipeTitle">Give your new @Flavourful recipe a tasty name:</label>
          <input type="text" size="50" maxlength="32" name="title" id="recipeTitle" required>
      </div>
      <br>
      <p>List ingredients and give instructions for your @Flavourful recipe:</p>
      <div class="wysiwygEditor">
        <textarea name="textEditor" id="textEditor" required>

        </textarea>
      </div>
      <br>
        {{!-- <button type="submit">Post!</button> --}}

        {{!-- </form> --}}

        {{!-- </div> --}}

        {{!-- <div id="imageUpload"> --}}
      <h3>Upload an image of your @Flavourful dish here:</h3>

        {{!-- <form action="./uploadImage" method="POST" enctype="multipart/form-data"> --}}

      <label for="inpFile">Upload an image here!</label>
      <input
        id="inpFile"
        type="file"
        name="imageFile"
        accept=".png,.jpg,.jpeg,.bmp"
      />
      <br />
        {{!-- <label for="txtCaption">Caption:</label>
        <input id="txtCaption" type="text" name="caption" /> --}}
      <br />
      <button type="submit">Upload!</button>

    </form>

  </div>

</div>

<!-- Add WYSIWYG to create and edit articles -->

<!-- Add functionality for user to change their details -->