<div id="home-page">

  {{#if toastMessage}}
    <p>{{toastMessage}}</p>
  {{/if}}

  <div class="welcome-text">
    <h1>Welcome Back |</h1>
    <h1>{{user.fname}}</h1>
    <img class="home-page-avatar" src="./images/avatars/{{user.avatar}}.png" />
  </div>

  <div class="bg-image">
    <img
      id="nav-image"
      src="images/wepik-2022026-232743.png"
      height="500px"
      width="auto"
    />
  </div>

  <div id="recipeUpload">

    <h3>Add your new <em>@Flavourful</em> recipe here:</h3>

    <form action="./uploadRecipe" method="POST" enctype="multipart/form-data">

      <div id="recipeTitleDiv">
          <label for="recipeTitle">Give your recipe an <em>@Flavourful</em> name:</label>
          <input type="text" size="50" maxlength="32" name="title" id="recipeTitle" required>
      </div>
      <br>
      <p>List ingredients and give instructions for preparing your <em>@Flavourful</em> recipe:</p>
      <div class="wysiwygEditor">
        <textarea name="textEditor" id="textEditor" required>

        </textarea>
      </div>
      <br>
      <label for="inpFile">Upload an image of your <em>@Flavourful</em> dish:</label>
      <input
        id="inpFile"
        type="file"
        name="imageFile"
        accept=".png,.jpg,.jpeg,.bmp"
      />
      <br>
      <br>
      <button type="submit"><strong>SHARE <em>@Flavourful</em></strong></button>

    </form>

  </div>

</div>