<div id="home-page">

  {{#if toastMessage}}
    <p>{{toastMessage}}</p>
  {{/if}}

  <div class="welcome-text">
    <h1>Welcome Back |</h1>
    <h1>{{user.fname}}</h1>
    <img class="home-page-avatar" src="./images/avatars/{{user.avatar}}.png" />
  </div>
{{!-- 
  <div class="bg-image">
    <img
      id="nav-image"
      src="images/thumbnails/wepik-2022026-232743.png"
      height="500px"
      width="auto"
    />
  </div> --}}
   <script type="text/javascript">
 
 /* In the previous tutorial, we changed an image by clicking on it.
 This time the image will change by itself over time.
 This could be used for an ad banner that changes every few seconds.
 It uses much of the existing code from the previous tutorial.
 */
 
 var image_tracker = 'orange';
 
 function change(){
 var image = document.getElementById('circle');
 if(image_tracker=='orange'){
 image.src='./images/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg';
 image_tracker='airplant';
 }
 else{
 image.src='./images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg';
 image_tracker='davide';
 }
 }
 
 // Either the setTimeout() method or the setInterval() method can be used.
 // With the setTimeout() method, it takes two parameters.
 // The first parameter is the code to run, the second parameter is time in milliseconds. 1 sec = 1000 ms.
 // the setTimeout() method only runs once. To repeat, we use the setInterval() method instead.
 // It also uses two parameters, the code to run (or function to use), and the timer interval.
 
 var timer = setInterval('change();',3000); 
 
 // this function is called when the onclick event runs. It stops the timer running.
 function stop(){
 clearInterval(timer); //the clearInterval method stops the timer from running
 }
 
 </script>
 
 
<img src="./images/lily-banse--YHSwy6uqvk-unsplash.jpg" alt="Circle" id="circle" class ="slideshow-container fade-in"onclick="stop();">
 
{{!--   

  <p>urabitur ut imperdiet neque. Fusce placerat felis sed neque rutru...<a
      href="#"
    >read more</a></p> --}}

  <div id="recipeUpload">

    <h3>Add your new <em>@Flavourful</em> recipe here:</h3>
    <br>

    <form action="./uploadRecipe" method="POST" enctype="multipart/form-data">

      <div id="recipeTitleDiv">
          <label for="recipeTitle">Give your recipe an <em>@Flavourful</em> name:</label>
          <input type="text" size="50" maxlength="32" name="title" id="recipeTitle" required>
      </div>
      <br>
      
      <p>List <em>@Flavourful</em> ingredients:</p>
      <div id="ingredientsDiv">
        <textarea class="wysiwygEditor" name="ingredients" id="ingredientsEditor" required>
        </textarea>
      </div>
      <br>
      
      <p>Give instructions for preparing your <em>@Flavourful</em> recipe:</p>
      <div id="methodDiv">
        <textarea class="wysiwygEditor" name="method" id="methodEditor" required>
        </textarea>
      </div>
      <br>
      
      <label for="inpFile">Upload an image of your <em>@Flavourful</em> dish:</label>
      <input
        id="inpFile"
        type="file"
        name="imageFile"
        accept=".png,.jpg,.jpeg,.bmp"
      />
      <br>
      <br>
      <button type="submit"><strong>SHARE <em>@Flavourful</em></strong></button>

    </form>

  </div>

</div>