<div id="home-page">

<div class="welcome-text">
  <h1>Welcome Back |</h1>
  <h4>{{user.fname}}</h4>
</div>

<div class="bg-image">
    <img id="nav-image" src="images/wepik-2022026-232743.png" height="500px" width="auto">
</div>

<p>urabitur ut imperdiet neque. Fusce placerat felis sed neque rutru...<a href="#">read more</a></p>


<h3>Add your new Recipe here:</h3>
    <form action="" method="">
        <div class="">
            <textarea name="textEditor" id="textEditor">
            </textarea>
        </div>

        <div class="">
            <button type="submit">Post!</button>
        </div>
    </form>



<!-- Add WYSIWYG to create and edit articles -->

<!-- Add functionality for user to change their details -->

