<div id="home-page">

   {{#if toastMessage}}
    <p>{{toastMessage}}</p>

    {{/if}}

  <div class="welcome-text">
    <h1>Welcome Back |</h1>
    <h1>{{user.fname}}</h1>
    <img class="home-page-avatar" src="./images/avatars/{{user.avatar}}.png" />

  </div>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images -->
  <div class="mySlides fade">
    <img src="./images/lily-banse--YHSwy6uqvk-unsplash.jpg" style="width: 100%;">
  </div>

  <div class="mySlides fade">
    <img src="./images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./images/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

  <div id="recipeUpload">
    <h3>Add your new recipe here:</h3>

    <form action="./uploadRecipe" method="POST">

      <div class="wysiwygEditor">
        <textarea name="textEditor" id="textEditor">
        </textarea>
      </div>

      <button type="submit">Post!</button>

    </form>
  </div>

  <div id="imageUpload">
    <h3>Upload an image of your @Flavourful dish here:</h3>

    <form action="./uploadImage" method="POST" enctype="multipart/form-data">

      <label for="inpFile">Upload an image here!</label>
      <input
        id="inpFile"
        type="file"
        name="imageFile"
        accept=".png,.jpg,.jpeg,.bmp"
      />
      <br />
      <label for="txtCaption">Caption:</label>
      <input id="txtCaption" type="text" name="caption" />
      <br />
      <button type="submit">Upload!</button>

    </form>

  </div>

</div>

<!-- Add WYSIWYG to create and edit articles -->

<!-- Add functionality for user to change their details -->