<div id="loginheader">
    <h1>Login</h1>
    </div>

<div class="login">

   {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    
    <form action="./login" method="POST">
        <div class="flex-col mb">
            <label for="txtUsername">Username</label>
            <p></p>
            <input type="text" name="username" id="txtUsername" required>
        </div>
        <br>
        <div class="flex-col mb">
            <label for="txtPassword">Password</label>
            <p></p>
            <input type="password" name="password" id="txtPassword" required>
        </div>
        <br>
        <div class="flex-row justify-sb align-center">
            <button type="submit">Log in</button>
        </div>
    
    </form>
    <p>Don't have an account? <a href="./newAccount">Sign Up!</a></p>

</div>