/* *{
    border: 1px solid black;
}  */
#container-Main {
    font-family: 'Open Sans', sans-serif;
    line-height: 23px;
} 
/* --------------------------- Nav part */
body {
    margin: 0px;
}
.nav-a:link{
    color: black;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
.nav-a:visited {
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#facebook:link{
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#facebook:visited {
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#twitter:link{
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#twitter:visited {
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#instagram:link{
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#instagram:visited {
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#rss:link{
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
#rss:visited {
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    color: #706F6F;
    background-color: transparent;
    text-decoration: none;
}
#nav{
    background-color: #2a53c1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* --------------------------- Nav part */

/* --------------------------- homepage part */
#home-page{
    margin: 20px;
}
#nav-image{
    display: block;
    margin: auto;
}
.welcome-text {
    font-size: 40px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    color: #0e1c40;
}
.container-login{
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 40%;
  padding: 50px;
  text-align: center;
}
.container-create{
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  padding: 40px;
  text-align: center;
}
/* --------------------------- homepage part */

/* --------------------------- article display part */
#container-all-article{
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 40px;
}
.card{
    display: flex;
    flex-direction: row;
    margin: 10px 300px 10px 300px;
}
.card-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position:center;
}
.card-body{
    padding: 20px;
    margin: 20px;
}
.card-image:hover{
    transform: scale(1.1);
    transition: transform .5s;
}
.card-title{
   font-size: 30px;
}
.articl-a{
    color: black;
    text-decoration: none;
}
.articl-a:hover{
    color: #2a53c1;
}
/* --------------------------- article display part */

/* --------------------------- content display part */
#container-content{
    text-align: center;
}
#img-inside{
    float: left;
    padding: 2px;
    border: 1px solid #2a53c1;
    margin: 10px;
}
#comment-submit{
    text-align: center;
}
#txtContent{
    width: 80%;
}
#small-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
}
#author-content{
    padding: 0px 50px 0px 0px;
}
#time-content{
    padding: 0px 0px 0px 50px;
}
/* --------------------------- content display part */