/* *{
    border: 1px solid black;
}  */
#container-Main {
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
}
/* --------------------------- Nav part */
body {
  margin: 0px;
  background-color: rgb(246, 242, 241);
}

.nav-a:link {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
.nav-a:visited {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#facebook:link {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#facebook:visited {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#twitter:link {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#twitter:visited {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#instagram:link {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#instagram:visited {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#rss:link {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}
#rss:visited {
  color: rgb(246, 242, 241);
  text-align: center;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #706f6f;
  background-color: transparent;
  text-decoration: none;
}
#nav {
  background-color: rgb(0, 42, 56);
  padding: 20px;
  color: rgb(246, 242, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* --------------------------- Nav part */

/* --------------------------- homepage part */
#home-page {
  margin: 20px;
}
#edit-page {
  margin: 20px;
}
#nav-image {
  display: block;
  margin: auto;
}
.welcome-text {
  font-size: 40px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  color: #0e1c40;
}

#login-word{
  color: #0e1c40;
}
.login {
  background-color: rgb(246, 242, 241);
  color: rgb(89, 18, 34);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  font-size: larger;
}

.login p {
  color: rgb(163, 1, 51);
}

.login label {
  position: relative;
  top: 20px;
  left: -40px;
}

#loginheader {
  color: rgb(0, 42, 56);
  text-align: center;
  padding: 40px;
  font-size: larger;
}

.login button {
  height: 25px;
  background-color: rgb(0, 42, 56);
  color: rgb(246, 242, 241);
  border-radius: 7px;
}

.container-create h1 {
  background-color: rgb(246, 242, 241);
  color: rgb(0, 42, 56);
  font-weight: lighter;
  position: relative;
  top: 30%;
  left: 20%;
  transform: translate(-30%, -20%);
  width: 80%;
  height: 55%;
  padding: 0px;
  text-align: center;
}
.container-create label {
  color: rgb(89, 18, 34);
  font-weight: 100;
  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  text-align: center;
}

.container-create input {
  border-radius: 7px;
  border-color: rgb(0, 42, 56);
  border-width: 1.5px;
  position: relative;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  align-content: center;
}
.container-create button {
  background-color: rgb(0, 42, 56);
  color: rgb(246, 242, 241);
  font-size: 16px;
  border-radius: 15px;
  border-width: 0px;
  width: 200px;
  height: 25px;
  align-content: center;
  position: relative;
  top: 30%;
  left: 45%;
  transform: translate(-30%, -45%);
}

.flex-container {
  position: absolute;
  top: 20%;
  left: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
}

#avatar {
  position: absolute;
  top: 22%;
  left: 60%;
}

.home-page-avatar {
  height: 50%;
  width: auto;
  display: block;
  margin: auto;
  font-size: 40px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  color: #0e1c40;
}

/*.container-login {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 40%;
  padding: 50px;
  text-align: center;
}
.container-create {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  padding: 40px;
  text-align: center;
}*/
.avatar-img {
  max-height: 100px;
  max-width: auto;
  margin: auto;
}
/* CSS for the slideshow:

/* Slideshow container */

.slideshow-container {
  width: 100%;
  max-height: 350px;
  position: relative;
  margin: auto;
  object-fit: cover;
  left: auto;
  right: auto;
  display: block;
}

/* Fading animation */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --------------------------- homepage part */

/* --------------------------- article display part */
#container-all-article {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: row;
  margin: 10px 300px 10px 300px;
}
.card-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.card-body {
  padding: 20px;
  margin: 20px;
}
.card-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.card-title {
  font-size: 30px;
}
.articl-a {
  color: rgb(0, 42, 56);
  text-decoration: none;
}
.articl-a:hover {
  color: #2a53c1;
}
/* --------------------------- article display part */

/* --------------------------- content display part */
#container-content {
  text-align: center;
}
#img-inside {
  float: left;
  padding: 2px;
  border: 1px solid #2a53c1;
  margin: 10px;
}
#container-recipe {
  text-align: left;
}
#comment-submit {
  text-align: center;
}
#txtContent {
  width: 80%;
}
#small-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}
#author-content {
  padding: 0px 50px 0px 0px;
}
#time-content {
  padding: 0px 0px 0px 50px;
}
/* --------------------------- content display part */

/* --------------------------- content comment part */
#comment-display {
  padding: 10px;
}
#comment-button {
  padding: 10px;
}
.comment-card {
  padding: 20px 0px 20px 0px;
  display: none;
}
.comment-dispear {
  display: none;
}
.comment-title {
  display: flex;
  flex-direction: row;
}
.comment-card {
  display: flex;
  flex-direction: row;
}
.comment-image {
  width: 150%;
  height: auto;
}
.comment-title {
  padding-left: 50px;
}
.comment-text {
  padding-left: 50px;
}
.comment-username {
  font-weight: bold;
  padding-right: 10px;
}
.comment-time {
  color: gray;
}
/* --------------------------- content comment part */
